
<header><font size="5" color="green" face="arial"> Jordan's Website </font></header>
<h2><b><font size="3" color="green" face="verdana">Hello World</font></b></h2>
<p>
  <%= Time.now %>
</p>
<pre>
<%= Cowsay.say("Moo!", "Cow") %>
</pre>
<p>
<h2><i><font size="5" color="purple" face="arial">This is a countdown until 2018! </font></i></h2>
</p>
<p id="demo"></p>
<script>
var countDownDate = new Date("Jan 1, 2018 00:00:01").getTime()
var x = setInterval(function() {
  var now = new Date().getTime()
var distance = countDownDate - now;
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "It is now the year 2018!";
  }
}, 1000);
</script>
<p>
<img src="http://24.media.tumblr.com/231b6e176476334de0905211f30c1a2a/tumblr_n6045x7tI21spoqhxo1_500.gif" alt="80's Retro Sprinter" style="width:500px;height;504px;"><img src="https://media.giphy.com/media/UvPvsX9oMlMWs/giphy.gif" alt="Windows 98 PC" style="width=500px;height=504px;">
</p>
<script>

//- Using an anonymous function:
function doFunction() {
alert('Warning! press OK to continue...');
}

function redirectFunction() {
window.location = "http://www.jdmauctionwatch.com";
}

</script>
<input id="Alert" type="button" value="Alert" onclick="doFunction();" />
<input id="Website" type="button" value="Website" onclick="redirectFunction();" />
<html>
<body>
<div onmouseover="mOver(this)" onmouseout="mOut(this)"style="background-color:#8FAABB;width:120px;height:20px;padding:40px;">
Swipe </div>

<script>
function mOver(obj) {
    obj.innerHTML = "Wow!"
}

function mOut(obj) {
    obj.innerHTML = "Swipe"
}
</script>
<div onmousedown="mDown(this)" onmouseup="mUp(this)"
style="background-color:#3EA0DD;width:90px;height:20px;padding:40px;">
Click </div>

<script>
function mDown(obj) {
    obj.style.backgroundColor = "#F5A52A”";
    obj.innerHTML = "Wow!";
}

function mUp(obj) {
    obj.style.backgroundColor="#1BCDD1";
    obj.innerHTML="Click";
}
</script>
