
<header><font size="5" color="purple" face="arial"> Jordan's Website </font></header>
<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World #<%= i %>!</p>
<% end %>
<h2><b><font size="3" color="green" face="verdana">Hello World</font></b></h2>
<p>
  <%= Time.now %>
</p>
<pre>
<%= Cowsay.say("Moo!", "Cow") %>
</pre>
<p>
<h2><i><font size="5" color="purple" face="arial">This is a countdown for when Jordan finishes his Work Experience! </font></i></h2>
</p>
<p id="demo"></p>
<script>
var countDownDate = new Date("Mar 31, 2017 18:30:00").getTime()
var x = setInterval(function() {
  var now = new Date().getTime()
var distance = countDownDate - now;
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "Jordan has finished his Work Experience";
  }
}, 1000);
</script>
<p>
<img src="http://24.media.tumblr.com/1ad5d049e13c105a2d0ce019a7e121cd/tumblr_n2qgk2Nvl11qdyl0to1_r1_500.gif" alt="Wave" style="width:500px;height:504px;"><img src="http://24.media.tumblr.com/231b6e176476334de0905211f30c1a2a/tumblr_n6045x7tI21spoqhxo1_500.gif" alt="80's Retro Sprinter" style="width:500px;height;504px;"><img src="https://media.giphy.com/media/UvPvsX9oMlMWs/giphy.gif" alt="Windows 98 PC" style="width=500px;height=504px;">
</p>
<input id="clickMe" type="button" value="clickme" onclick="doFunction();" />
<script>
//- Using a function pointer:
document.getElementById("clickMe").onclick = doFunction;

//- Using an anonymous function:
document.getElementById("clickMe").onclick = function () { alert('hello!'); };
</script>
